<main class="content">
    <strong class="title">Sobre</strong>
    <mat-card class="card">

        <div style="display: flex; margin: 20px;">
            <img src="../../assets/foto_manoel.png"
                style="object-fit: contain; border-radius: 10px; max-width: 110px; margin-right: 0px;">

            <div style="text-align: left;">
                <p style="font-size: 20px; text-align: left; margin-left: 10px;"><strong>Manoel Malon Costa de Moura</strong></p>
                <p style="text-align: left; margin-left: 8px;">Desenvolvedor Full-Stack</p>

                <a href="https://wa.me/559492854188" target="_blank">
                    <button mat-button ><mat-icon>call</mat-icon>(94) 99285-4188</button>
                </a> <br>

                <a href="mailto:malloncosta@outlook.com" target="_blank">
                    <button mat-button ><mat-icon>email</mat-icon>malloncosta&#64;outlook.com</button>
                </a> <br>

                <a href="https://www.linkedin.com/in/manoel-malon-costa-025744207" target="_blank">
                    <button mat-button>
                        <mat-icon>language</mat-icon>
                        www.linkedin.com/in/manoel-malon-costa-025744207
                    </button>
                </a>                

            </div>
        </div>
        <p style="text-align: justify; margin-left: 20px; margin-right: 20px;">
            Engenheiro da Computação laureado, com experiência em desenvolvimento de software e habilidades avançadas em Python, 
            React, Flask, Django, C e Angular. Contribuindo para projetos inovadores como UniBus, um sistema de rastreamento de ônibus via LoraWAN. 
            Destaque em projetos que aplicam inteligência artificial e redes neurais artificiais para resolver problemas práticos, 
            como Polargraph IA e sistema de localização de objetos usando wireless. Experiência como desenvolvedor mobile na SolnusTec. 
            Comprometido com o aprendizado contínuo e interessado em oportunidades desafiadoras na área de tecnologia.
        </p>

    </mat-card>
</main>