<main class="content">
    <strong class="title">Registrar Ponto</strong>
    <mat-card class="card">
        <mat-card-content>
            <div *ngFor="let collaborator of collaborators" style="padding: 15px;">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title-group>
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                          <mat-card-title>{{collaborator.name}}</mat-card-title>
                          <mat-card-subtitle> <strong>Cargo:</strong> {{collaborator.position}}</mat-card-subtitle>
                          <mat-card-subtitle> <strong>Matrícula:</strong> {{collaborator.registration}}</mat-card-subtitle>
                          <mat-card-subtitle> <strong>Salário:</strong> {{collaborator.salary}}</mat-card-subtitle>
                        </mat-card-title-group>
                      </mat-card-header>
                      <mat-card-content>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-button (click)="registerEntry(collaborator.employeeId)"><mat-icon>done</mat-icon><td>Registrar entrada</td></button>
                        <button mat-button (click)="registerExit(collaborator.employeeId)"><mat-icon>done</mat-icon><td>Registrar saída</td></button>
                      </mat-card-actions>
                </mat-card>
            </div>
        </mat-card-content>
    </mat-card>
</main>
